.idea
node_modules
*.gitkeep
/config/local*.yaml
*.opk
*.log
.DS_Store

/backend/coverage/
/backend/npm-debug.log
/backend/dist
/backend/pkg
/backend/ones-plugin-node-host.log

/web/coverage/
/web/npm-debug.log
/web/dist
/web/pkg
/web/ones-plugin-node-host.log

temp/

dist
gql-sdk.ts
